{{> head}} {{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Defcon1</h1>
        <p>
            Esse laborum est do elit esse sunt dolor enim sit sit id ex consectetur.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/def.png" class="img-thubnail">
    </div>
</div>




{{> footer}}